html 
    head 
        // no css, why? ask Mundo
        title Main
    body
        form(action="/average" method = get)
            input(name="input" type="text")
            input(type="submit" value="send")
    
